<tr class="success">
	<td>
		{{#if this.kickedout}}
		<a class="btn" href="javascript: return false;" id='{{this.pid}}' addme='{{this.pid}}'>加入</a> 
		{{else}}
		<a class="btn btn-primary" href="javascript: return false;" id='{{this.pid}}' host='{{this.pid}}'>主持</a> 
		<a class="btn" href="javascript: return false;" id='{{this.pid}}' kickedout='{{this.pid}}'>踢出</a> 
		{{/if}}
	</td>
    <td>{{this.pname}}</td>
    <td>{{this.role}}</td>
    <td>{{this.gword}}</td>
    <td>{{this.status}}</td>
 </tr>